.container {
  position: relative;
  display: flex;
}

.popup {
  position: absolute;
  padding: 4px 12px;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF8E00;
  border-radius: 10px;
  white-space: pre-line;
  animation: show 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.enterActive {
  opacity: 1;
}

.exitActive {
  opacity: 0;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}