.container {
  position: relative;
  display: flex;
}

.tooltip {
  position: absolute;
  padding: 4px 12px;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF8E00;
  border-radius: 10px;
  white-space: pre-line;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}