$drawer-height: 300px;

.container {
  height: $drawer-height;
  width: 100vw;
  background-color: #FF8E00;
  transition: all 0.3s ease-out;
  transform: translate(0, -$drawer-height);
  position: absolute;
}

.open {
  transform: translate(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-out;
}

.overlayOpen {
  opacity: 1;
  z-index: 0;
  visibility: visible;
}

.overlayHidden {
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: 0.3s ease-out 0ms;
}